/* Custom styles for input[type="date"]
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    z-index: 1;
    background-color: transparent;
    color: #000;
    padding-right: 30px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 50%;
    right: 8px;
    z-index: 2;
    transform: translateY(-50%);
    background-color: #F3F4F6; 
    color: transparent;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
    display: none;
}

input[type="date"]::-moz-inner-spin-button,
input[type="date"]::-moz-clear-button {
    display: none;
} */

::-webkit-calendar-picker-indicator {
    filter: invert(1)
            brightness(50%)
            sepia(100%)
            saturate(10000%)
            hue-rotate(180deg)
}